.footer-link {
    padding: 0 0.5rem;
    color: #000;
}

.footer-link:first-child {
    padding-left: 0;
}

.footer-link:last-child {
    padding-right: 0;
}

.footer-link:hover {
    text-decoration: none;
    color: #373737;
}