html {
    font-size: 14px;
    overflow: scroll;
    overflow-x: hidden;
}

/*Turned off vertical scroll*/

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

@media (min-width: 1200px) {
    .col-xl-5-5 {
        -ms-flex: 0 0 47.38%;
        flex: 0 0 47.38%;
        max-width: 47.38%;
    }
}

a {
    color: #000;
}

a:hover {
    color: #4b4b4b;
    text-decoration: none;
}