.card {
    width: 100%;
    border: none;
}

.card-body {
    padding: 2.1429rem 0 9.2857rem;
}

.first-post {
    padding-top: 7.1429rem;
}

.card-img-top {
    max-height: 39.2857rem;
    object-fit: cover;
}

.text-muted {
    font-family: 'Ubuntu Light';
    font-size: 1rem;
}

.card-text:first-child {
    margin-bottom: 1.4286rem;
}

.card-text {
    margin-bottom: 3.5714rem;
}

.card-title {
    margin-bottom: 2.1429rem;
    font-size: 2.1429rem;
}

.col-xl-5-5 .card-img-top {
    max-height: 21.4286rem;
}

.text-overflow {
    max-height: 6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}