.load-more-btn {
    font-size: 1.4286rem;
    border-radius: 0;
}

.btn-outline-secondary:focus, .btn-outline-secondary:active {
    box-shadow: none !important;
    outline: none !important;
}

.btn-row {
    padding-bottom: 7.1429rem;
}